<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/blog.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/flexslider.css" rel="stylesheet" />
    <link href="~/css/fontawesome-all.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/css/owl.theme.css" rel="stylesheet" />
    <link href="~/css/popuo-box.css" rel="stylesheet" />
    <link href="~/css/prettyPhoto.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <a href="~/webfonts/fa-brands-400.eot"></a>
    <img src="~/webfonts/fa-brands-400.svg" />
    <a href="~/webfonts/fa-brands-400.ttf"></a>
    <a href="~/webfonts/fa-brands-400.woff"></a>
    <a href="~/webfonts/fa-brands-400.woff2"></a>
    <a href="~/webfonts/fa-regular-400.eot"></a>
    <img src="~/webfonts/fa-regular-400.svg" />
    <a href="~/webfonts/fa-regular-400.ttf"></a>
    <a href="~/webfonts/fa-regular-400.woff"></a>
    <a href="~/webfonts/fa-regular-400.woff2"></a>
    <a href="~/webfonts/fa-solid-900.eot"></a>
    <img src="~/webfonts/fa-solid-900.svg" />
    <a href="~/webfonts/fa-solid-900.ttf"></a>
    <a href="~/webfonts/fa-solid-900.woff"></a>
    <a href="~/webfonts/fa-solid-900.woff2"></a>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/easing.js"></script>
    <script src="~/js/jquery-1.7.2.js"></script>
    <script src="~/js/jquery-2.2.3.min.js"></script>
    <script src="~/js/jquery.flexslider.js"></script>
    <script src="~/js/jquery.magnific-popup.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/jquery.quicksand.js"></script>
    <script src="~/js/modernizr.custom.min.js"></script>
    <script src="~/js/move-top.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/responsiveslides.min.js"></script>
    <script src="~/js/script.js"></script>

</head>
<body>
    <!--/banner-->
    <div class="banner-inner" id="home">
        <!-- header -->
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light top-header">
                <h1 class="logo">
                    <a class="navbar-brand" href="index.html">
                        <i class="fab fa-accusoft"></i>
                        <span>Accrue</span>
                    </a>
                </h1>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="fas fa-bars"></i>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link ml-lg-0" href="index.html">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>@Html.ActionLink("Home", "Index", "Home", new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("About Us", "About", "Home", new { @class = "nav-link" })</li>
                       
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                Blog
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-center" href="blog.html">Blog Right side bar</a>
                                <a class="dropdown-item text-center" href="blog1.html">Blog left side bar</a>
                                <a class="dropdown-item text-center" href="single.html">Blog Single</a>
                            </div>
                        </li>
                            <li>@Html.ActionLink("Contact Us", "Contact", "Home", new { @class= "nav-link"})</li>
                        <li class="search">
                            <a class="play-icon popup-with-zoom-anim" href="#small-dialog">
                                <i class="fas fa-search"></i>
                            </a>
                            <div id="small-dialog" class="mfp-hide">
                                <div class="search-top">
                                    <div class="search-inn">
                                        <form action="#" method="post" class="disply-flex">
                                            <input class="form-control" type="search" name="search" value="Type something..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
                                            <button class="btn2">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <p>Accrue</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- <form class="form-inline my-2 my-lg-0">
                          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form> -->
            </nav>
        </header>
        <!-- //header -->
        <!-- /banner-text -->
        <div>
            @RenderBody()
        </div>

        <!--footer -->
        <footer>
            <div class="container">
                <div class="row footer-top">
                    <div class="col-lg-3 footer-grid-w3ls">
                        <div class="footer-title">
                            <h3>About Us</h3>
                        </div>
                        <div class="footer-text">
                            <p>
                                Curabitur non nulla sit amet nislinit tempus convallis quis ac lectus. lac inia eget consectetur sed, convallis at
                                tellus. Nulla porttitor accumsana tincidunt.
                            </p>
                            <div class="social-icon footer text-left mt-4">
                                <div class="icon-social">
                                    <a href="#" class="button-footr">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#" class="button-footr">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#" class="button-footr">
                                        <i class="fab fa-dribbble"></i>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 footer-grid-w3ls">
                        <div class="footer-title">
                            <h3>Get in touch</h3>
                        </div>
                        <div class="contact-info">
                            <h4>Location :</h4>
                            <p>0926k 4th block building, king Avenue, New York City.</p>
                            <div class="phone">
                                <h4>Contact :</h4>
                                <p>Phone : +121 098 8907 9987</p>
                                <p>
                                    Email :
                                    <a href="mailto:info@example.com">info@example.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 footer-grid-w3ls">
                        <div class="footer-title">
                            <h3>Useful Links</h3>
                        </div>
                        <ul class="links">
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="about.html">About</a>
                            </li>
                            <li>
                                <a href="blog.html">Blog</a>
                            </li>
                            <li>
                                <a href="projects.html">Policies</a>
                            </li>
                            <li>
                                <a href="contact.html">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 footer-grid-w3ls">
                        <div class="footer-title">
                            <h3>Subscribe</h3>
                        </div>
                        <div class="footer-text">
                            <p>By subscribing to our mailing list you will always get latest news and updates from us.</p>
                            <form action="#" method="post">
                                <input class="form-control" type="email" name="Email" placeholder="Enter your email..." required="">
                                <button class="btn1">
                                    <i class="far fa-envelope" aria-hidden="true"></i>
                                </button>
                                <div class="clearfix"> </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="copyright mt-4">
                    <p class="copy-right text-center ">
                        &copy; 2018 Accrue. All Rights Reserved | Design by
                        
                    </p>
                </div>
            </div>
        </footer>
        <!-- //footer -->
</body>
</html>
